/* 头部导航 */
.header {
	width: 100%;
	height: 64px;
	background: #FFFFFF;
	box-shadow: inset 0px -0.5px 0px rgba(0, 0, 0, 0.15);
	/* position: fixed; */
}


/* 导航容器 */
.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 64px;
	max-width: 980px;
	padding: 0 15px;
}


/* 左侧导航 */
.nav {
	display: flex;
	align-items: center;
}

.nav>a {
	padding: 16px;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 17px;
	text-align: center;
	color: #1D1D25;
	transition: 0.3s ease-in-out;
}

#logo {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: url(img/Avatar_logo_icon.png);
	transition: 0.3s ease-in-out;
	margin-right: 16px;
}

#logo:hover{
	transform: scale(1.1) rotate(-15deg);
	transition: 0.3s ease-in-out;
}


/* 右侧小链接 */
.link {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.link>a {
	margin-left: 16px;
	transition: 0.3s ease-in-out;
	display: block;
	width: 24px;
	height: 24px;
}

.link>a:hover {
	transform: scale(1.1) rotate(15deg);
	transition: 0.3s ease-in-out;
}

.link>a>svg {
	width: 24px;
	height: 24px;
	fill: #1D1D25;
	transition: 0.3s ease-in-out;
}

.link>a>svg:hover {
	width: 24px;
	height: 24px;
	fill: #0035FF;
	transition: 0.3s ease-in-out;
}

/* 身体部分 */
.main_container {
	/* padding: 80px 22%; */
	/* width: 100%; */
	max-width: 980px;
	height: 100%;
	overflow-y: scroll;
	margin: 0 auto;
	padding: 80px 15px;
	padding-bottom: 0px;
	/* margin-top: 64px; */
}

.main_container::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

/* 个人简介 */
.myprofile {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 72px;
}

.myprofile>h1 {
	font-family: helvetica;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 60px;
	color: #1D1D25;
}

.name_job {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 24px;
}

.name_job>.name {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #1D1D25;
}

.name_job>.job {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	margin-top: 8px;
	color: #AAAAAA;
}



/* 列表开始 */
.works {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}

.work_title {
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #1D1D25;
	margin-bottom: 20px;
}

.work_title>svg {
	margin-right: 8px;
}

.works_item{
	/* width: 33.33%; */
	flex: 0 0 33.333333%;
	padding: 0px 8px;
	margin-bottom: 40px;
}

.item {
	background-color: #FFFFFF;
}

.card_cover {
	display: block;
	overflow: hidden;
}

.card_cover img{
	width: 100%;
	vertical-align: top;
}

.item_photo {
	transition: 0.3s ease-in-out;
}

.item_photo:hover {
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}

.card_title {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 8px;
}

.card_title>.time {
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 13px;
	color: #AAAAAA;
	margin-bottom: 8px;
}

.card_title>.title {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0.505618px;
	color: #1D1D25;
	transition: 0.3s ease-in-out;
}

.card_title>.title:hover {
	opacity: 0.8;
	transition: 0.3s ease-in-out;
}

.model {
	margin-bottom: 40px;
}



/* 尾部结束 */
.footer {
	 width: 100%;
	 height: 64px;
	 box-shadow: inset 0px 0.5px 0px rgb(0 0 0 / 15%);
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 align-items: center;
	 margin: 0 auto;
	 height: 64px;
	 max-width: 980px;
	/* padding: 0 15px; */
}

/* .footer_container {
	background: #FFFFFF;
	box-shadow: inset 0px 0.5px 0px rgb(0 0 0 / 15%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 64px;
	max-width: 980px;
	padding: 0 15px;
}
 */

.suye_logo {
	display: block;
}


.footer_nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: -15px;
}

.footer_nav>a {
	padding: 15px;
	font-size: 12px;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #1D1D25;
	transition: 0.3s ease-in-out;
}

.footer_nav>a:hover {
	color: #0035FF;
}

.footer_nav>.gap {
	width: 1px;
	height: 12px;
	background: #C4C4C4;
	display: block;
}

.footer>.link {
	display: none;
}